@keyframes floatSlow {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-12px) rotate(-1deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.animate-floatSlow {
  animation: floatSlow 6s ease-in-out infinite;
}

@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}
